header{
    background-color: lightgray;
}
.logo-size{
    width: 150px;
}
.Most-Recent-Img{
    width: 100%;
}
.tshirt1{
    background: none;
    margin-bottom: 20px;
}
.Artiste{
    margin-top: 20px;
    margin-bottom: 20px;
}